* {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

p {
    color: white;
}

.image1 {
    height: 50px;
    width: 150px;
    margin: 5px 0px 5px 0px;
}

i {
    color: white;
}

header {
    background-color: black;
    display: flex;
    position: fixed;
    width: 1250px;
}

.container {
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.search {
    height: 45px;
    width: 400px;
}

.fa-magnifying-glass {
    background-color: rgb(243, 178, 59);
    color: black;
    padding: 15px;
    border-radius: 4%;
}

.lan {
    display: flex;
    height: 10px;
    align-items: center;
    text-align: center;
}

.lan .india {
    padding-bottom: 40px;
}

.india {
    width: 20px;
    height: 20px;
    margin-top: 50px;
}

.sec-line {
    background-color: rgb(64, 66, 75);
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
}

.fa-bars {
    background-color: rgb(64, 66, 75);
}

pre {
    color: white;
}

body {
    background-color: rgb(0, 128, 255);
}

.fourgrid {
    display: grid;
    grid-template-rows: repeat(4, 250px);
    grid-template-columns: repeat(4, 250px);
    gap: 80px;
    justify-content: space-evenly;
}

.box {
    color: black;
    background-color: white;
    box-shadow: 10%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    font-family: Amazon ember, sans-serif, Arial;
    padding: 20px;
    word-spacing: 1px;
    font-size: 21px;
    height: 250px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.box:hover {
    transition: transform 0.7s;
    transform: scale(1.05);
}

body {
    background: linear-gradient(to bottom, #39a4f5 0%, #39a4f5 40%, white 60%, #646363f6 100%);
}

.grocery {
    height: 70px;
    width: 70px;
    display: grid;
    grid-template-rows: repeat(2, 100px);
    grid-template-columns: repeat(2, 100px);
    gap: 10px;
    margin-top: 10px;
}

.extraspace {
    height: 70px;
}

.dumbel {
    display: flex;
    height: 40px;
    justify-content: space-evenly;
}

.dumbel img {
    border: 1px solid black;
    border-radius: 10%;
}